
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Lish Sinh Viên</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Sinh Học</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">

<!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button> -->
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['hoVaTen','email','representative.hoVaTen','maSv']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." style="padding-left: 30px;" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">STT <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Mã SV <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">Họ&Tên <p-sortIcon field="category"></p-sortIcon></th>

                <th pSortableColumn="category">Số ĐT <p-sortIcon field="category"></p-sortIcon></th>

                <th pSortableColumn="category">Email<p-sortIcon field="category"></p-sortIcon></th>


                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{rowIndex}}</td>
                <td>{{product.maSv}}</td>
                <td>{{product.hoVaTen}}</td>
                <td>{{product.soDienThoai}}</td>
                <td>{{product.email}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [baseZIndex]="1000" [style]="{width: '800px'}" header="Sinh Viên" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-md-6">
        <div class="p-field">
          <label for="name">Họ Và Tên </label>
          <input type="text" class="form-control" placeholder="Enter ..."  pInputText id="name" [(ngModel)]="product.hoVaTen" required autofocus />
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.maHeDaoTao" required autofocus /> -->
          <small class="p-invalid" *ngIf="submitted && !product.hoVaTen">Name is required.</small>
      </div>
      </div>
      <div class="col-md-6">
        <div class="p-field">
          <label for="name">Lớp </label>
          <input type="text" class="form-control" placeholder="Enter ..."  pInputText id="name" [(ngModel)]="product.maLop" required autofocus />
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.maHeDaoTao" required autofocus /> -->
          <small class="p-invalid" *ngIf="submitted && !product.maLop">Name is required.</small>
      </div>
      </div>
      <div class="col-md-6">
        <label for="ngaysinh">Ngày Sinh:</label><br>
        <input type="date" [(ngModel)]="product.ngaySinh" value='[(ngModel)]="product.ngaySinh"' style="width: 100%;padding: 6px; border: 1px solid #ced4da;border-radius: 4px;">
      </div>
      <div class="col-md-6">
        <div class="p-field">
          <label for="name">Số điện thoại </label>
          <input type="text" class="form-control" placeholder="Enter ..."  pInputText id="name" [(ngModel)]="product.soDienThoai" required autofocus />
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.maHeDaoTao" required autofocus /> -->
          <small class="p-invalid" *ngIf="submitted && !product.soDienThoai">Name is required.</small>
      </div>
      </div>
      <div class="col-md-6">
        <div class="p-field">
          <label for="name"> Địa chỉ</label>
          <input type="text" class="form-control" placeholder="Enter ..."  pInputText id="name" [(ngModel)]="product.diaChi" required autofocus />
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.maHeDaoTao" required autofocus /> -->
          <small class="p-invalid" *ngIf="submitted && !product.diaChi">Name is required.</small>
      </div>
      </div>
      <div class="col-md-6">
        <div class="p-field">
          <label for="name">Giới Tính</label>
          <input type="text" class="form-control" placeholder="Enter ..."  pInputText id="name" [(ngModel)]="product.gioTinh" required autofocus />
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.maHeDaoTao" required autofocus /> -->
          <small class="p-invalid" *ngIf="submitted && !product.gioTinh">Name is required.</small>
      </div>
      </div>
      <div class="col-md-6">
        <div class="p-field">
          <label for="name">Email </label>
          <input type="text" class="form-control" placeholder="Enter ..."  pInputText id="name" [(ngModel)]="product.email" required autofocus />
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.maHeDaoTao" required autofocus /> -->
          <small class="p-invalid" *ngIf="submitted && !product.email">Name is required.</small>
      </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
